

.cardText-secondary {
    display: none;
}

.headerSettingsButton img { 
    content: url('https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg') !important;
}

.emby-button {
border-radius: 0.2em;
}

.withSectionTabs .headerTop {padding: .8em 0 !important; }

div.skinHeader.semiTransparent {
background: rgba(0,0,0,0) !important;
}

/* Try to make Filter and three dots dropdowns transparent and blurry */

div.focuscontainer.dialog {backdrop-filter: saturate(1.8) blur(1.5em);}

div.focuscontainer.dialog {background-color: rgba(0, 0, 0, 0.3);}

/* Make Backdrop Much Brighter */
div.backgroundContainer.withBackdrop {background: rgba(0,0,0,.4)!important; opacity: 0.5 !important;}

/*배경을 투명하게 만듭니다*/
body {
    background-color: rgba(0,0,0,0) !important;
}
  
/* Remove poster/thumb */
div.detailImageContainer.detailImageContainer-main:not(.detailImageContainer-small):not(.detailImageContainer-backdrop) {display: none; }

/* Move details down */
div.flex-grow.topDetailsMain.flex.flex-direction-column  {padding-top: 40vh; }

/*Main Details lock height after poster removal*/
div.verticalSection.detailMainContainer.flex.flex-direction-row.align-items-flex-start.detailMainContainer-withbackdrop.detailMainContainer-withitembackdrop {
     height: 550px;
}
/*Episode view backdrop up-textcontainer left*/
.detailImageContainer.detailImageContainer-main.flex.flex-direction-column.justify-content-center.itemsContainer.detailImageContainer-hidemobile.detailImageContainer-backdrop.generalItemsContainer {
    order:2;
}

.detailImageContainer-backdrop {
     bottom: 37vh!important;
     right: 53.5vw;
     width: 35vw!important;
}

form.trackSelections {display: none;}

/* ------------------------ 1. 엑센트 컬러 ------------------------- */
/* ----- 1.1 Buttons ----- */
/* 1.1.1 Checkboxes */
.emby-checkbox:checked+span+span+.checkboxOutline {
    background-color: #E50914 !important;
}

.checkboxIcon-checked {
    background-color: #E50914 !important;
}

.emby-checkbox:checked+span+span+.checkboxOutline,
.progressring-spiner {
    border-color: #E50914 !important;
}

.emby-checkbox:focus+span+.emby-checkbox-focushelper {
    background-color: #E50914 !important;
    opacity: 0.26 !important;
}


/* 1.1.2 Rectangles */
.raised {
    background: #fff !important;
    color: #404040 !important;
}

.button-submit,
.button-accent {
    background: #E50914 !important;
    color: #fff;
}

.raised-mini.emby-button {
    background: #E50914 !important;
    color: #ffffff !important;
}

/* Restart */
.btnRestartContainer.emby-button {
    background: #E50914 !important;
    color: #fff;
}

/* Play & Resume */
.btnPlaySimple.emby-button {
    background: #E50914 !important;
    color: #fff;
}

/*.btnResume.emby-button {
    background: #94131E !important;
    color: #fff;
}*/

/* 1.1.3 Links & Text buttons */
.button-flat-accent,
.button-accent-flat,
.textlink
{
    color: #E50914 !important;
}

.button-link:hover,
.button-flat-accent:hover,
.button-accent-flat:hover,
.textlink:hover {
    color: #9b9b9b !important;
}

.button-link:active,
.button-flat-accent:active,
.button-accent-flat:active,
.textlink:active {
    color: #94131E !important;
}

/* Top Header */
.emby-tab-button-active {
    color: #E50914 !important;
}

/* 1.1.4 Others */
/* Alpha Picker */
.alphaPickerButton-selected,
.alphaPickerButton-tv:focus {
    background-color: #E50914 !important;
    color: #fff !important;
}

/* Radio Buttons */
.mdl-radio__inner-circle {
    background: #E50914 !important;
}

.mdl-radio__button:checked+.mdl-radio__label+.mdl-radio__outer-circle {
    border: 2px solid #E50914 !important;
}

.mdl-radio__button:checked:focus+.mdl-radio__label+.mdl-radio__outer-circle+.mdl-radio__inner-circle {
    -webkit-box-shadow: 0 0 0 10px rgba(232, 17, 35, 0.26) !important;
    box-shadow: 0 0 0 10px rgba(232, 17, 35, 0.26) !important;
}

/* Control Group Buttons */
div[data-role="controlgroup"] a.ui-btn-active[data-role='button'] {
    background: #E50914 !important;
    color: #ffffff !important;
}

.mainDetailButtons>.btnPlayTrailer {
    display: none;
}

.headerClock {
    display: none;
}

.btnDeleteItem {
    display: none;
}

.linksSection {
     display: none;
}

.btnUserRating {
    display: none;
}

.btnDetailEdit {
    display: none;
}

/* ----- 1.2 Details ----- */
/* 1.2.1 Circles */
/*.listItemIcon:not(.listItemIcon-transparent) {
    background-color: $accent-color !important; }*/
.dashboardSection i.listItemIcon.md-icon {
    background-color: #E50914 !important;
}

.scheduledTaskPaperIconItem[data-status="Running"] i.listItemIcon.md-icon {
    background-color: #94131E !important;
}

/* Focus Helper circles */
.paper-icon-button-light:focus {
    color: #E50914 !important;
}

/* 1.2.2 Indicators */
.countIndicator,
.playedIndicator {
   display: none !important;
}

.levelNormal {
    background-color: #E50914 !important;
}

.fullSyncIndicator {
    background: #E50914 !important;
    color: #fff;
}

.playstatebutton-played i,
.ratingbutton-withrating i {
    color: #E50914 !important;
}

p#pUpToDate i.md-icon {
    background-color: #E50914 !important;
}

/* Loading Spinners */
.mdl-spinner__layer-1,
.mdl-spinner__layer-2,
.mdl-spinner__layer-3,
.mdl-spinner__layer-4 {
    border-color: #E50914 !important;
}

.progressring-spiner {
    border: 0.25em solid #E50914 !important;
}

/* 1.2.3 Fonts */
.selectLabelFocused,
.textareaLabelFocused,
.inputLabelFocused {
    color: #E50914 !important;
}

.secondary.listItemBodyText span,
div#divRunningTasks span {
    color: #E50914 !important;
}

@font-face {
    font-family: 'NetFlixSans';
    src: url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2') format('woff2');
    font-weight: 500; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'NetFlixSans';
    src: url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2') format('woff2');
    font-weight: 600; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'NetFlixSans';
    src: url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2') format('woff2');
    font-weight: 800; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'NetflixSans';
    src: url('https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2') format('woff2');
    font-weight: 900; /* Black */
    font-style: normal;
}

body {
    font-family: 'NetflixSans';
}

/* 1.2.4 Icons */
.starIcon,
.mediaInfoTimerIcon {
    color: #E50914 !important;
}

/* Top Header */
.btnActiveCast {
    color: #E50914 !important;
}

/* Now Playing Bar & Now Playing Page */
.repeatActive,
button.btnCommand.repeatToggleButton.autoSize.nowPlayingPageRepeatActive {
    color: #E50914 !important;
}

/* 1.2.5 Dialogs & Action Sheets */
/* 1.2.6 Others */
/* General Accent Color Modifications */
:focus {
    outline: #E50914 auto 5px;
}

select:focus {
    border-color: #E50914 !important;
}

::selection {
    background-color: #94131E !important;
}

.emby-input:focus,
.emby-textarea:focus {
    border-color: #E50914 !important;
}

/* Google Now Playing Bar & Now Playing Page */
.iconOsdProgressInner,
.mdl-slider__background-lower,
.sliderBubble,
.mdl-slider::-webkit-slider-thumb {
    background: #E50914 !important;
}

.mdl-slider:focus::-webkit-slider-thumb {
    -webkit-box-shadow: 0 0 0 10px rgba(232, 17, 35, 0.26);
    box-shadow: 0 0 0 10px rgba(232, 17, 35, 0.26) !important;
}

.adminDrawerLogo img {
    content: url('https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg') !important;
}

/* Home Page */
.pageTitleWithLogo {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg') !important;
}

.drawerLogo {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg') !important;
}


/* Progress Bars */
.itemProgressBarForeground {
    background-color: #E50914 !important;
}

.taskProgressInner {
    background: #E50914 !important;
}

/* Google Progress Bars */
progress::-webkit-progress-value {
    background: #E50914 !important;
}

/* Firefox Progress Bars */
progress::-moz-progress-bar {
    background: #E50914 !important;
}

/* Edge Progress Bars */
progress {
    background: #E50914 !important;
}

/* Main Drawers */
.navMenuDivider {
    background: #262626 !important;
}

.adminDrawerLogo {
    border-bottom: 1px solid #262626 !important;
}

.mainDrawer {
    background: #181818 !important;
}

.adminDrawerLogo {
    border-bottom: 1px solid #262626 !important;
}

.mainDrawer {
    background: #181818 !important;
}

.sidebarHeader {
    color: #bbbbbb !important;
}

.navMenuOption {
    color: #ffffff !important;
}

.navMenuOption.navMenuOption-selected {
    background: #252528 !important;
    color: #E50914 !important;
}

.navMenuOption:hover {
    background: #252528 !important;
    color: #9b9b9b !important;
}

/* Metadata Editor */
div.jstree-wholerow.jstree-wholerow-clicked:hover,
div.jstree-wholerow.jstree-wholerow-clicked,
div.jstree-wholerow.jstree-wholerow-hovered {
    background: #252528 !important;
}

.jstree-anchor.jstree-clicked,
.jstree-anchor.jstree-clicked.jstree-hovered {
    background: #252528 !important;
    color: #E50914 !important;
}

/* Multi-select */
.itemSelectionPanel {
    border: 1px solid #E50914 !important;
}

.selectionCommandsPanel {
    background: #E50914 !important;
    color: #fff;
}

/* upNextDialog */
.upNextDialog-countdownText {
    color: #E50914 !important;
}

/* Selection Bars */
.emby-select-selectionbar,
.emby-textarea-selectionbar,
.emby-input-selectionbar {
    background-color: #E50914 !important;
}

/* Media Info Detail Image */
.itemDetailImage.loaded:hover {
    border: 1px solid #E50914 !important;
}

/* 1.3 Fixes */
/* ------------------ 2. MISCELLANEOUS MODIFICATIONS ----------------- */
/* ----- 2.1 Buttons ----- */
/* Circles */
.fab {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/* ----- 2.2 Details ----- */
/* 2.2.1 Scrollbars */
/* Google Chrome */
::-webkit-scrollbar-corner {
    background-color: #3B3B3B;
}

/* Google Chrome */
::-webkit-scrollbar-corner {
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
}

/* Google Chrome - Dashboard Drawer */
div.scrollContainer.smoothScrollY::-webkit-scrollbar-corner {
    background-color: transparent !important;
}

div.scrollContainer.smoothScrollY::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: transparent !important;
}

div.scrollContainer.smoothScrollY::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px !important;
    background: #888888;
}

/* Google Chrome - Filter Dialog */
.dynamicFilterDialog::-webkit-scrollbar-corner {
    background-color: transparent !important;
}

.dynamicFilterDialog::-webkit-scrollbar {
    width: 2px;
    height: 2px;
    background-color: transparent !important;
}

.dynamicFilterDialog::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #888888;
}

/* remove ugly box around the scroll buttons */
.scrollbuttoncontainer>button>.md-icon {
    color: rgb(238,238,238);
    visibility: visible;
    border-radius: 50%;
}

.scrollbuttoncontainer>button>.md-icon:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.scrollbuttoncontainer>button {
    visibility: hidden;
}

.scrollbuttoncontainer {
    visibility: hidden;
}

/* 2.2.3 Others */
/* CSS Box */

#txtCustomCss {
    height: 300px !important;
    overflow-y: scroll !important;
}

/* Select Box */
select option {
    background-color: #2b2b2b !important;
    color: #ffffff !important;
}

/* Dialogs */
.formDialogHeader:not(.formDialogHeader-clear),
.formDialogFooter:not(.formDialogFooter-clear) {
    background-color: #121212 !important;
    color: #fff;
}



@supports (backdrop-filter: blur(1.5em)) or (-webkit-backdrop-filter: blur(1.5em)) {
    .skinHeader-blurred {
        background: rgba(20, 20, 20, 0.7) !important;
        -webkit-backdrop-filter: blur(1.5em) !important;
        backdrop-filter: blur(1.5em) !important;
    }
}

.skinHeader.semiTransparent {
    -webkit-backdrop-filter: none !important;
    backdrop-filter: none !important;
    background-color: rgba(0, 0, 0, 0.4) !important;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0.7)), color-stop(40%, transparent)) !important;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.7) 10%, transparent) !important;
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.7) 10%, transparent) !important;
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.7) 10%, transparent) !important;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 10%, transparent) !important;
}

.appfooter {
    background: #080808 !important;
    color: #fff !important;
}

@supports (backdrop-filter: blur(10px)) or (-webkit-backdrop-filter: blur(10px)) {
    .appfooter-blurred {
        background: rgba(24, 24, 24, 0.7) !important;
        -webkit-backdrop-filter: blur(20px) !important;
        backdrop-filter: blur(20px) !important;
    }
}

/* TV Global Modifications */
.emby-tab-button-active.emby-button-tv {
    color: #fff !important;
}

.guide-channelHeaderCell,
.guide-channelTimeslotHeader {
    background: #2e2e2e !important;
}

.guide-programTextIcon {
    color: #1e1e1e !important;
    background: #555 !important;
}

.guide-headerTimeslots {
    color: #ccc !important;
}



/* remove the "get premiere" button */
.btnHeaderPremiere {
    display: none;
}

/* make cards more boxy */
.cardBox {
    margin: 4px;
    border-radius: 0%;
}

.cardContent {
    /*border: 5px solid rgba(40,40,40,.5);*/
    border-radius: 1.5%;
}

/* fix the stupid ripple effect */
*.paper-icon-button-light>.md-icon {
    visibility: visible;
}*/

.paper-icon-button-light {
    display: none;
}

.headerUserButton {
    visibility: visible;
}

.headerManageServerButton {
    display: none;
}

.headerSettingsButton {
    display: none;
}

/* give the buttons a hover effect */
.emby-button>i:hover,
.detailButton-content:hover {
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all .1s ease-in-out;
    transform: scale(1.2);
    -moz-text-shadow: 0 0 5px #222326;
    -webkit-text-shadow: 0 0 5px #222326;
    text-shadow: 0px 0px 5px #222326;
}

.paper-icon-button-light:focus {
    color: #222326 !important;
    background-color: rgba(34, 35, 38, .3) !important;
}

.paper-icon-button-light:hover {
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-in-out;
    transform: scale(1.2);
    -moz-text-shadow: 0 0 5px #222326;
    -webkit-text-shadow: 0 0 5px #222326;
    text-shadow: 0px 0px 5px #222326;
}

/* ----- 2.3 Fixes ----- */
/* 2.3.1 Dark Colors */
.autoorganizetable tbody tr:nth-child(odd) td,
.autoorganizetable tbody tr:nth-child(odd) th {
    background-color: #222326 !important;
}

.autoorganizetable>.table>tbody>tr {
    border: 5px solid #222326 !important;
}

/*Chrome*/

.emby-slider::-moz-range-thumb,
.mdl-slider:active::-moz-range-thumb,
.emby-slider::-moz-range-progress,
.sliderBubble {
    background: #E50914 !important;
}

/*Library Show Advanced setting switch*/
.mdl-switch__input:checked+.mdl-switch__label+.mdl-switch__trackContainer>.mdl-switch__track {
    background: rgba(232, 17, 35, .5) !important;
}

.mdl-switch__input:checked:focus+.mdl-switch__label+.mdl-switch__trackContainer .mdl-switch__focus-helper {
    -webkit-box-shadow: 0 0 0 1.39em rgba(232, 17, 35, .26) !important;
    box-shadow: 0 0 0 1.39em rgba(232, 17, 35, .26) !important;
    background-color: rgba(232, 17, 35, .26) !important;
}

.mdl-switch__input:checked+.mdl-switch__label+.mdl-switch__trackContainer>.mdl-switch__thumb {
    background: #E81123 !important;
}